<div class="post single">
<%= render partial: 'title', locals: { post: @post, link: false } unless current_category_name == "Photo" %>
<p class="date"><%= date(@post.created_at.localtime) if current_category_name == "Article" %></p>
<div class="description">
<%= render partial: 'description', locals: { post: @post } %>
</div>
</div>

<%= render partial: 'admin_buttons', locals: { post: @post } %>
