@import "bootstrap-sprockets";
@import "bootstrap";

$active:#ff45af;
$hover:#111;

img {
    width: 100%;
}

#content {
    max-width: 1000px;
    margin-bottom: 20px;
}

header.navbar {
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 10px 0;

    div.container {
        width: 100%;
        padding: 0 50px 0 20px;

        ul li {
            padding: 0 10px;
        }

        ul li a:hover {
            color: $hover;
        }

        ul li.active a {
            background: none;
            color: $active;
        }

        ul li.active a:hover {
            background: none;
            color: $hover;
        }
    }
}

div.post {
    margin-top: 12px;
    margin-bottom: 12px;
}

#content.content-photo {
    max-width: none;
    width: 100%;
}
