$color:#000;
$link:#504d61;
$hover:#ff6abc;

body {
    margin: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $link;

    &:hover {
        color: $hover;
    }
}

button {
    border: 1px solid $link;
    background-color: white;
    height: 50px;
    width: 50px;
}

iframe {
    width: 100%;
}

.clearfix {
    clear: both;
}

#content {
    max-width: 1280px;
    margin: 50px auto 20px auto;
}

#content.index {
    font-size: 0;
}

header {
    border: 1px solid white;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.07);

    nav {
        margin: 20px;

        .home-button {
            float: left;
        }


        ul {
            float: right;
            right: 0;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                list-style: none;
                margin: 0 14px;
            }
        }
    }
}

.post {
    margin: 8px 0;

    h1 {
        text-align: center;
    }

    .date {
        font-size: 15px;
        text-align: center;
    }

    .description {
        margin-top: 50px;
    }
}

.single {
    margin: 0 7px;
}

#content.content-photo {
    max-width: none;
    width: 100%;
}

#content.content-article {
    max-width: 1000px;
}

.post-article {
    padding-top: 30px;
    padding-bottom: 30px;         
    border-bottom: 1px solid #ccc;
}

form {
    input, textarea  {
        width: 100%;
    }
}

.img-edit {
    width: 300px;
}

.add-img {
    margin: 50px 0;
}

.overflow-hidden {
    overflow: hidden;
}

@media (max-width: 768px) {
    header .home {
        margin: 0;
        padding: 0;
    }

    #content {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .post {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

h1, h2, h3, .post p {
    font-weight: normal;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

.post p {
    font-size: 15px;
}

.admin {
    font-size: 15px;
}
