<header>
  <nav>
    <div class="home-button">
      <%= link_to "daiki.pink", root_url %>
    </div>
    <ul>
    <% Category.all.each do |category| %>
      <li><%= link_to category.name, category_name_path(category) %></li>
    <% end %>
    </ul>
    <div class="clearfix"></div>
  </nav>
</header>
